.content {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;

    .content__main {
        display: flex;
        align-items: center;
        margin: 10px 0;

        & > img {
            width: 28px;
            height: 28px;
            margin: 10px 10px 10px 0;
        }

        & > h2 {
            font-size: 20px;
            color: rgb(65, 65, 65);
            font-weight: 600;
        }
    }

    & > p {
        text-align: justify;
        color: rgb(110, 108, 108);
        line-height: 22px;
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: auto;
        padding: 10px;
        border-radius: 25px;
        margin: 10px;

        .content__main {
            display: flex;
            align-items: center;
            margin: 10px 0;

            & > img {
                width: 28px;
                height: 28px;
                margin: 10px 10px 10px 0;
            }

            & > h2 {
                font-size: 20px;
                color: rgb(65, 65, 65);
                font-weight: 600;
            }
        }

        & > p {
            text-align: justify;
            color: rgb(110, 108, 108);
            line-height: 22px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: auto;
        padding: 10px;
        border-radius: 25px;
        margin: 10px;

        .content__main {
            display: flex;
            align-items: center;
            margin: 10px 0;

            & > img {
                width: 28px;
                height: 28px;
                margin: 10px 10px 10px 0;
            }

            & > h2 {
                font-size: 20px;
                color: rgb(65, 65, 65);
                font-weight: 600;
            }
        }

        & > p {
            text-align: justify;
            color: rgb(110, 108, 108);
            line-height: 22px;
        }
    }
}
