.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;

    .header__logo {
        margin: 1vh 0 1vh 8vw;
    }
    .header__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 8vw;

        .header__options {
            margin: 0 1vw;
            list-style: none;

            .header__links {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: rgb(80, 80, 80);
                font-weight: 500;
                font-size: 15px;

                .header__icons {
                    font-size: 14px;
                    margin-left: 1px;
                }
            }

            .header__home {
                color: red;
            }

            .header__links:hover {
                cursor: pointer;
                color: red;
            }
        }
    }
    .header__click {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        .header__main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
            width: 80%;
            height: 35vh;
            position: absolute;
            top: 52px;
            right: -100%;
            opacity: 1;
            transition: all 0.5s ease;
            padding-top: 20px;
            margin-right: 2vw;

            .header__options {
                border-bottom: solid 1px rgb(216, 216, 216);
                width: 100%;
                display: flex;
                justify-content: center;

                .header__links {
                    display: flex;
                    align-items: center;
                    padding: 7px;
                    color: rgb(80, 80, 80);
                    font-weight: 700;
                    font-size: 15px;
                    color: white;
                }
            }
        }

        .header__main.active {
            right: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
            background-color: rgb(185, 14, 14);

            .header__options {
                border-bottom: solid 1px rgb(216, 216, 216);
                width: 100%;
                display: flex;
                justify-content: center;

                .header__links {
                    display: flex;
                    align-items: center;
                    padding: 7px;
                    color: rgb(80, 80, 80);
                    font-weight: 700;
                    font-size: 15px;
                    color: white;
                }
            }
        }

        .header__click {
            display: block;
            margin-right: 15px;
            cursor: pointer;
            .header__clickicon {
                width: 40px;
                height: 40px;
            }
        }
    }
}
