.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    color: rgb(85, 85, 85);
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: -101;

    & > img {
        margin-bottom: 10px;
    }

    & > p {
        margin: 10px 0;
    }
}
